h1{
    background-color: #54C3CF;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0px;
}
h2{
    color: #4D0004;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.color{
    background-color: burlywood;
}
.matgen{
    margin: 40px;
}